
.fira-sans-normal {
  font-family: "Fira Sans", serif;
  font-optical-sizing: auto;
  font-style: normal;
}
/* banner style */
.banner-title{
    font-size: small;
    font-weight: bolder;
    color: rgba(14, 14, 14, 0.5);
    text-align: left bottom;
    
}
.banner-description{
    font-weight: 700px;
    font-size: 50px;
    text-align: left bottom;
    color: #0E0E0E;
    width: 550px;
    height: 150px;
    padding-bottom: 20px;
   
}
.btn-primary{
    height: 50px;
    width: 250px;
    padding: auto;
    border-radius: 8px;
    background-color: #006A50;
    border: none;
    text-align: center;
    font-size:15px;
    font-weight: bolder;
    color: white;
    

}
.banner{
     display: flex;
     gap: 64px;
     background-color:#C6E4D6;
     border-radius: 20px;
     justify-content: 
     
    
}
.pic{
    width: 400px;
    height:350px;
}
.banner-content{
    width: 600px;
    height: 300px;
    padding:20px 20px
}
.banner-align{
    display: flex;
    padding:80px 80px;
    height: 400px;
    
}


/* optional part */

.container{
    display: inline-block;
    height: 200px;
    width: 230px;
    box-shadow: 0px 0px 4px rgba(0,0,0,0.25);
    padding: 30px 10px;
    gap: 24px 24px;
    border-radius: 15px;
    justify-content: space-between;
    margin: 0px 20px 0px 20px;
   
}
.bulb{
    width: 30px;
    height: 30px;
    color: white;
}
.container-title{
    width: 200px;
    height:20px;
    font-size: small;
    line-height: auto;
    color: rgba(14, 14, 14, 0.8);
}
.container-description{
    width: 202px;
    height:60px;
    font-size:smaller;
    line-height: 15px;
    color: rgba(14, 14, 14, 0.7);
}
.card-section{
    height: 300px;
    display: flex;
    padding: 20px 55px;
    
}
/* vision of the world */
.title{
    width: 1200px;
    height: 40px;
    font-weight: bold;
    font-size: 40px;
    color: #0E0E0E;
    padding-left: 80px;
}
.description{
    width: 1200px;
    height: 80px;
    font-weight: normal;
    font-size: 12px;
    line-height: 24px;
    color: rgba(14, 14, 14, 0.7);
    padding-left: 80px;
    padding-right: 3000px;
    
    
    
}
.card-container-1{
    width: 260px;
    height: 210px;
    padding: 20px 20px;
    gap:auto;
    border-radius: 12px;
    background-color:rgba(84, 144, 245, 0.2);

    


}
.card-container-2{
    width: 260px;
    height: 210px;
    padding: 20px 20px;
    gap:auto;
    border-radius: 12px;
    background-color: #C6E4D6;
    
    

}.card-container-3{
    width: 260px;
    height: 210px;
    padding: 20px 20px;
    gap:auto;
    
    border-radius: 12px;
    background-color: #F7EBCF;
    

}
.card-btn-1{
    width: 120px;
    height:5px;
    gap: 45;
    padding: 20px 11px;
    border-radius: 8px;
    background-color: #5490F5;
    border: none;
    font-size: 10px;
    font-weight: bolder;
    color: white;
    padding-bottom: 30px;


}
.card-btn-2{
    width: 120px;
    height:5px;
    gap: 45;
    padding: 20px 11px;
    border-radius: 8px;
    background-color: #09A15C;
    border: none;
    font-size: 10px;
    font-weight: bolder;
    color: white;
    padding-bottom: 30px;


}
.card-btn-3{
    width: 120px;
    height:5px;
    gap: 45;
    padding: 20px 11px;
    border-radius: 8px;
    background-color:#FFC239;
    border: none;
    font-size: 10px;
    font-weight: bolder;
    color: white;
    padding-bottom: 30px;


}
.card-container-1,.card-container-2,.card-container-3{
    display: inline-block;
    padding: 30px 10px;
    justify-content: space-between;
    gap: 30px 30px;
    margin: 0px 15px 0px 15px;
    padding-inline: 40px;
}
.card-align{
    padding-left: 70px;
}
/* news-style */
.news-pic{
    width: 400px;
    height: 250px;
    border-radius: 20px;
}
.news-heading{
    width: 500px;
    height: 30px;
    font-size: 28px;
    font-weight: bold;
    color: rgba(14, 14, 14, 0.8);
    text-align:left bottom;
    padding-top:0px;
}
.news-channel-pic{
    width: 130px;
    height: 30px;
}
.color{
    width: 500px;
    height: 20px;
    font-weight: normal;
    font-size:12px;
    line-height: 20px;
    color: rgba(14, 14, 14, 0.7);
}
.news-description{
    width: 450px;
    height: 55px;
    font-weight: normal;
    font-size:12px;
    line-height: 15px;
    color:  rgba(14, 14, 14, 0.7);
    
    
}
.news-btn{
    width: 120px;
    height: 40px;
    line-height: 3px;
    padding: 20px 10px;
    border-radius: 6px;
    background-color: #006A50;
    border: none;
    font-weight: bold;
    color: white;

}
.news-align{
    display: inline-block;
    height: 300px;
    padding: 30px 10px;
    gap: 20px 10px;
    justify-content: space-between;
}
.news-details{
    box-shadow: 0px 0px 4px rgba(0,0,0,0.25);
    height: 350px;
    padding: 10px 30px;
    justify-self: unset;
    
    
    margin: 0px 40px 0px 40px;
    border-radius: 20px;
    width: 1050px;
    
}
.news-details{
    display: block;
}

